* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
}

#NotFound{
  text-align: center;
}

.jumboBg{
  background: url(https://images.pexels.com/photos/6461519/pexels-photo-6461519.jpeg?cs=srgb&dl=pexels-pavel-danilyuk-6461519.jpg&fm=jpg);
  background-attachment: no-repeat;
  background-size: cover;
  
}